          /* FOOTER */
#footer {
    margin-top: 25px;
    background-color: #222831;
    position: relative;
    bottom: 0;
    width: 100%;
    color: white;
    flex-shrink: 0;
    padding: 32.5px 0;
}